    <!-- About Section -->
    <section id="about" class="container content-section text-center">
    
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <div class="lead">
I am a Postdocoral Alexander von Humboldt Fellow at the Fritz-Haber Institut in Berlin, Germany. I previously completed my PhD at the University of Cambridge with h <a href="http://ajm143.github.io">Prof. Andrew Morris</a>. My current work focuses on using <strong>machine learning</strong> techniques to predict spectroscopic signatures of <strong>Li-ion battery materials</strong>.  I hope to combine experimental spectroscopy, first principles calculations, and machine learning to accelerate the speed with which we can understand new energy materials.
<br><br>
For more information check out my <a href="/images/afh-cv.pdf">CV</a>.
                </div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6 verticalcenter">
                    <br> 
                    <img class="img-responsive img-circle" src="images/Harper-AF-new.jpg" alt="">
                    <h6>Photo Credits: <a href="https://katarzynapilch.com/">Katarzyna Pilch</a></h6>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    </section>
