---
layout: default
---

<img src="/images/afh.png" style="border: 5px solid grey" height=auto width="250" class="left"></img>

<div style="float: right; width: 450px; text-align: justify">

I am a current PhD student in the Theory of Condensed Matter Group at the Univeristy of Cambridge working with <a href="http://ajm143.github.io">Dr. Andrew Morris</a>. My current work focuses on using <strong>crystal structure prediction</strong> techniques to identify new battery materials for <strong>higher-capacity Li-ion batteries</strong>.  I hope to identify materials which allow us to use rechargable batteries for grid-scale storage, electrified transport, and in conjunction with renewable sources of energy.
<br><br>
For more information check out my <a href="/images/afh-cv.pdf">CV</a> or <a href="http://www.linkedin.com/in/angela-f-harper">LinkedIn</a>
</div>
